@import "./layout-global.css";

.grid-lg {
	display: grid;
	row-gap: var(--gutter);
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, min-content);
	grid-auto-flow: row;
}

.grid-lg__col-left {
	grid-column: 1;
	grid-row: 1;
}

.grid-lg__summary {
	grid-column: 1;
	grid-row: 2;
}

.grid-lg__number {
	justify-self: center;
	align-self: center;
	grid-column: 1;
	grid-row: 1;
}

.grid-lg__col-right {
	display: none;
}

.grid-sm--left {
	display: grid;
	gap: var(--space-xs);
	grid-template-rows: repeat(8, min(8vw, 4rem));
	grid-template-columns: repeat(8, 1fr);
}

.grid-sm--left *:first-child {
	grid-column: 1 / 5;
	grid-row: 1 / span 5;
}

.grid-sm--left *:nth-child(2) {
	grid-column: 5/9;
	grid-row: 1 / span 3;
	aspect-ratio: 1/1;
}

.grid-sm--left *:nth-child(3) {
	grid-column: 2 / span 3;
	grid-row: 6 / span 3;
}

.grid-sm--left *:nth-child(4) {
	grid-column: 5/8;
	grid-row: 4 / span 5;
}

@media (--viewport-md) {
	.grid-sm {
		display: grid;
		gap: var(--space-2xs);
	}

	.grid-lg {
		grid-template-columns: repeat(14, minmax(0, 1fr));
		grid-template-rows: repeat(2, min-content);
	}

	.grid-lg__col-left {
		grid-column: 1/6;
		grid-row: 1/-1;
	}

	.grid-lg__number {
		grid-row: 1;
		grid-column: 6/11;
		align-self: end;
	}

	.grid-lg__summary {
		grid-row: 2;
		grid-column: 6/11;
		align-self: start;
	}

	.grid-lg__col-right {
		grid-column: 11/-1;
		grid-row: 1/-1;
		display: grid;
	}

	.grid-lg__number {
		justify-self: unset;
	}
}

@media (--viewport-md) {
	.grid-sm {
		grid-template-rows: repeat(10, minmax(5vh, 60px));
		grid-template-columns: repeat(8, minmax(0, 1fr));
	}

	.grid-sm--left *:first-child {
		grid-column: 1 / span 4;
		grid-row: 1 / span 8;
		
	}

	.grid-sm--left *:nth-child(2) {
		grid-column: 5 / span 3;
		grid-row: 2 / span 6;
		aspect-ratio: unset;
	}

	.grid-sm--left *:nth-child(3) {
		grid-column: 2 / span 3;
		grid-row: 9 / span 3;
	}

	.grid-sm--left *:nth-child(4) {
		display: none;
	}

	.grid-sm--right *:first-child {
		grid-column: 2 / -1;
		grid-row: 3 / 10;
	}


}


/* @media (--viewport-md) {
.image-0, .image-1, .image-2, .image-3, .image-5 {
	height: 100%;
}
} */


